.container,
.admin-container,
.dashboard-container {
  width: 420px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #161514ee;
  border-radius: 10px;
}

h1 {
  text-align: center;
  color: #1e3a8a;
}

form label {
  color: #1e3a8a;
  display: block;
  margin-top: 15px;
  font-weight: bold;
}
form input,
form textarea,
form select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

form button {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  background-color: #f97316;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
form button:hover {
  background-color: #ea580c;
}

.admin-link {
  text-align: center;
  margin-top: 15px;
  font-size: 0.85rem;
}
.admin-link a {
  color: #1e3a8a;
  text-decoration: none;
}
.admin-link a:hover {
  text-decoration: underline;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
table,
th,
td {
  border: 1px solid #ccc;
}
th,
td {
  padding: 8px;
  text-align: left;
}
th {
  background-color: #1e3a8a;
  color: white;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
